<h2>Arquivos
<%= link_to_new(Asset, new_admin_asset_path) %>
</h2>

<% if @assets.present? %>
  <div id="assets">
    <%= render :partial => "assets" %>
  </div>

<% else %>
  <p>Você não tem arquivos ainda.</p>
<% end %>

<%= will_paginate @assets, :previous_label => "< #{t(:previous_label)}", :next_label => "#{t(:next_label)} >" %>
<hr class="thick" />



