<h2>Quem viu</h2>
<table class="grid">
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Acessado em</th>
  </tr>
<% @resources.each do |resource|%>
  <%= content_tag_for :tr, resource, :class => cycle(:odd, :even) do %>
    <td><%= resource.user.name %></td> 
    <td><%= resource.user.email %></td>
    <td><%= l resource.created_at %></td>
  <% end %>
<% end %>
</table>
