<div class="field">
  <p><i>Selecione o curso que deseja compartilhar o arquivo.</i></p>
  <%= f.label :course_id %>
  <%= f.collection_select :course_id, @courses, :id, 
                      :name,
                      {:include_blank => "Selecione"},
                      {:id => "courses"}
  %>
</div>
<div class="field loading" id="ver">
  <p><i>Alunos matriculados no curso, selecione-os para compartilhar o arquivo.<br/>
  Caso seja com todos não selecione nenhum aluno.</i></p>
  <%= f.label :user_id %>
  <%= f.collection_select("user_ids", @users, :user_id, :name_with, {:include_blank => false}, 
                        {:class => 'users', :multiple => true, :id => "user"}) %>    
</div>
