<p>You can use this url to login<br />

<%= link_to "http://localhost:3000#{admin_root_path(:auth_token => @user.authentication_token)}", admin_root_path(:auth_token => @user.authentication_token)  %></p>

