<h2 class="list-title">Matriculas</h2>
<% if @matriculations.present? %>
  <table class="grid">
    <tr class="header">
      <th>Curso</th>
      <th>Nome Usuário</th>
      <th></th>
    </tr>
    <%= render @matriculations %>
  </table>
  <p><%= will_paginate @matriculations, :previous_label => "< #{t(:previous_label)}", :next_label => "#{t(:next_label)} >" %></p>
<% else %>
  <p>Não existe matrículas ainda.</p>
<% end %>
<hr class = "thick" />
