<h2><%= @matriculation.course.name %></h2>

  <h3>Aulas</h3>
<% if @lessons.present? %>
  <table class="grid">
    <ul class="list">
      <%= render @lessons %>
    </ul>
  </table>
    <%= will_paginate @lessons, :previous_label => "< #{t(:previous_label)}", :next_label => "#{t(:next_label)} >" %>
<% else %>  
  <p>Não existe aulas registradas.</p>
<% end %>
<hr class="thick">
