<% if @lessons_temp.present? %>
    <span class="large title-top">Datas das próximas Aulas</span>
  <% @lessons_temp.group_by(&:date_at).each do |key, temp| %>
    <%= l key %><br/>
  <% end %>
<% end %>
