<% if @lessons_temp.present? %>
  <i><p>
    <span class="medium">Próximas Aulas</span><br/>
    <% @lessons_temp.group_by(&:date_at).each do |key, temp| %>
      <%= l key %><br/>
    <% end %>
  </p></i>
<% end %>
