<%= content_for :view_all do %>
<h2 class="group-title">Todos Usuários
<spam class="right">Total: <%= @users.count %></spam>
</h2>
<p id="pdf_link" class="right"><%= link_to "Download (PDF)", allusers_admin_users_path(:format => "pdf") %></p>
  <%= render :partial => "usersall" %>
<% end %>
